:root{
    --bg: #111;
    --font: #eee;
}

* {
    margin: 0;
    font-weight: 100;
}

body{
    background-color: var(--bg);
    color: var(--font);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 2vw;
    text-align: center;
}

a, a:visited, a:focus{
    color: blue;
    display: block;
    text-align: center;
}

button, select {
    display: block;
    margin: auto;
    margin: 1vw auto;
}

h2, h3, h4 {
    padding: 0 0 2vw 0;
    text-align: center;
}

h3 {
    font-style: italic;
}

p {
    margin: auto;
    display: inline;
    line-height: 2rem;
}

div {
    padding: 1vw 0 0 0;
}

.poem {
    display: flex;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 800px) {
    p {
        width: auto;
    }
}